<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>User Information</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">User Information</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="detail-information" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Full name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{user.userName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.avatar}}</td>
                      <td>{{user.fullName}}</td>
                      <td>{{user.address}}</td>
                      <td>{{user.phone}}</td>
                      <td>
                        <button class="btn btn-primary" routerLink="/users/edit">
                          <span class="fa fa-edit"></span>
                        </button>
                      </td>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Full name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Edit</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

